.title_key{
	text-transform: uppercase;
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 20px;
}
.key_list li{
	padding:2px 0px 2px 3px;
}
.key_list li a{color:#1e97bbf2 !important;}
.key_list li a:active {color:#1e97bbf2 !important;}
.key-content{padding:105px;}
.key-content a{color:#062c84f2;margin:2px 15px;display: inline-block;}

.panel{border-radius: 0px}
.panel-heading{background-color:#fff !important;}