#chon_nhansu li{
background: #0072bc;
color: white;
text-align: center;
font-size: 20px;
padding: 20px 0 20px 0;
}
#chon_nhansu #loai_1, #chon_nhansu #loai_2{
width: 44%;
float: left;
}
#chon_nhansu #loai_2{
float: right;
}
#chon_nhansu li.active{
background: #017c7e !important;
}
#chon_nhansu li:hover{
opacity: 0.8;
}
.title_dn, .title_message_news{
font-size: 14px !important;
}
#phongban li {
background: #7395e2;
border: 2px solid white;
border-radius: 4px;
padding: 10px 0 10px 2px;
height: 42px;
text-overflow: ellipsis;
overflow: hidden; 
}
#phongban li a{
  display: block;
  text-overflow: ellipsis;
  overflow: hidden; 
  white-space: nowrap;
}
#phongban li.active{
background: #504ce9;
}
#phongban li a{
font-size: 20px;
padding: 3px;
color: white;
}
#thonngtin .title_dn{
opacity: 0.8;
}
#thonngtin .box_message_news {
padding: 10px;
border: 1px solid #ccc;
background: #fff;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;

}
#thonngtin p{
margin-bottom: 4px;
}
#thonngtin p::first-letter{
margin-left: 20px;
}
#thonngtin .container-fluid{
margin-left: 0px !important;
}
.title_box_qh, .title_mission{
font-size: 12px !important;
}
.prog_tit{
font-size: 12px !important;
}
.list_folow span, .list_folow b{
font-size: 12px !important;
}
.list_folow i{
font-size: 14px !important;
}
.prog_tit b{
font-size: 16px;
}

.title_mission {
background-color: rgba(129, 81, 244, 0.68);
border-color: rgba(129, 81, 244, 0.68);
display: flex;
align-items: center;
font-size: 1.3rem;
font-weight: 500;
font-family: OpenSansRegular;
height: 52px;
padding: 0px 15px;
color: #fff;
}
}
.title_box_qh {
border-top: 1px solid #ddd;
}
#thonngtin .nav>li>a {

padding: 6px 10px;
}
.nav_mission>li.active>a, .nav_mission>li.active>a:hover, .nav_mission>li.active>a:focus {
border-bottom-color: #FF6500;
background: #FF6500;
color: #fff;
}
.box_mission h3{
margin-bottom: 5px !important;
}
#box-container, #box-container2, #box-container3{
margin-top: 10px !important;
}
.box_folow_job{
height:  200px !important;
border-bottom: 1px solid #ebedf2;
}
.box_folow_job:nth-child(1){
border-left: 1px solid #ebedf2;
}
#thonngtin .dieu {
font-weight: bold;
margin-left: 3px !important;
}
.box_message_news{
font-size: 14px;
color: #333;
line-height: 23px;
}
.box_message_news p{
margin-bottom: 5px;
}
.box_message_news_fix{
max-height: 400px;
overflow: auto;
}
.img_ld_b{
text-align: center;
}
.img_ld_b img{
max-width: 250px;
max-height: 250px;
margin: auto;
}
/* update 27/9/2018 -----> */
.fix_tham_nien .highcharts-button{
display: none;
}
.link_box_report {
    color: #fff;
    display: block;
}
.box_report {
    background: #0066cc;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    height: 140px;
    padding: 4px;
    padding-top: 10px;
    line-height: 24px;
    margin-bottom: 24px;
    position: relative;
    border-radius: 10px;
    box-shadow: 3px 4px 8px #dcc0c0;
}
.box_report > h3 {
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
    min-height: 62px; 
    line-height: 28px;
}
.box_report h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
}
.box-fix {
    margin-top: 32px;
}
.box-fix h2 {
    margin-bottom: 7px;
    height: 65px;
} 
.box-fix h2 span {
    float: right;
    position: unset;
    display: inline-block;
    width: 50%;
    font-size: 20px;
    text-align: center;
}
.box_statistics_fix{
	padding-bottom: 30px;
	border-bottom: 1px solid #ccc;
	margin: 0px 15px;
}